AnchorPane{
    -fx-background-image: url(../pictures/Backgrounds/Diplomacy.jpg);
    -fx-background-repeat: repeat;
    -fx-background-size: 800px 450px;
}

Button{
    -fx-border-radius: 20;
    -fx-border-color: #044904;
    -fx-border-width: 2;
    -fx-background-color: #2b643b;
    -fx-background-radius: 20;
}